* {
    box-sizing: border-box;
  }
  $maincolor:#00ffaf;
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  
.row::after {
    content: "";
    clear: both;
    display: table;
  }
[class*="col-"] {
                     float: left;
                     height: 65px;
  }
 
.input-field { 
              padding: 15px; 
              text-align:center; 
              background-color:#F0F0F0;
             border-radius: 5px;
              border: none;
              font-size: 17px;
              width: 100%; 
  } 
.input-icons i { 
              position: absolute; 
          } 
            
.input-icons { 
              width: 100%; 
          } 
            
.icon { 
              padding: 16px; 
              color: #D8D8D8; 
              width: 60px; 
              text-align: center; 
    } 
::placeholder {
    color: darkgray;
  }
.aa{
   text-decoration: none;  
          color: black;
          font-size: 18px;
      margin-left: 15px;
  }
a:hover{
      color: darkgray;   
  }
.bb {
      font-weight: bold;
  }
  $position:absolute;
  $color:white;
  %main{
    position:$position;
    color:$color;
 } 
 
@mixin fontTop($val,$top){
    font: normal $val HelveticaNeueLTPro,Helvetica,sans-serif;
    top:$top;
  }
@mixin img($width,$height,$bord_rad,$border){
    width:$width;
    height:$height;
  border-radius: $bord_rad;
  border:$border solid white;
  }
.centered1 {
    @extend %main;
    @include fontTop(20px,755px);
  }
.centered2 {
    @extend %main;
    @include fontTop(20px,950px);
  }
.ab{
   text-decoration: none;  
          color: #696969;
          font-size: 18px;
      margin-right: 25px;
      font-weight: bold;
  
  }
.centeredd {
    @extend %main;
    @include fontTop(16px,1360px);
      font-weight: bold;
  }
.centereddd { 
    @extend %main;
    @include fontTop(14px,1630px);
      font-weight: bold;
  
  }
.centereddtext {
    position: absolute; 
    @include fontTop(25px,0px);
      font-weight: bold;
  }
.centereddtexts {
    position: absolute; 
    @include fontTop(16px/25px,0px);
      color: #828282;
  }
.navbar {
     overflow: hidden;
    padding-top: 10px;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
  }
  .img1{
    @include img(100%,100%,5px,4px);
  }
  .img2{
    @include img(290px,142px,8px,6px);
  }
  .img3{
    @include img(192px,140px,10px,6px);
  }
  .p{
    color:#303030;
    margin-left: 100px; 
    @include fontTop(28px,0px);
    font-weight: bold;
  }
  .flex{
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    margin-left: 90px;
  }
  .i{
    color:lightgray;
    margin-left: 6px;
  }
  .sty{
    font-weight: bold;
    margin-bottom: 100px;
  }
  #hid{
    display: none;
  }
  .x1{
    display: none;
    color: white;
    margin-left: 100px;
    @include fontTop(40px,100px);
     font-weight: bold;
  }
  .x2{
    display: none;
    color: white;
    margin-left: 100px;
    font-size:16px;
  }
  .x3{
    display: none;
    background-color: black;
    color: white;
    margin-left: 100px;
    margin-top: 40px;
    border-radius: 4px;
    border: 1px solid white;
    padding: 20px 60px;
    font-size: 15px;
    font-weight: bold;
  }
  .v{
    background-color: black;
    height: 700px;
  }
  .pp{
     color: white;
     margin-left: 80px;
     font: normal 28px/38px HelveticaNeueLTPro,Helvetica,sans-serif;
     font-weight: bold;
     margin-top: 250px;
  }
  .vv{
    width:865px;
     height: 700px;
     opacity: 0.8;
  }
  .vvv{
    height: 500px;
    background-color: black;
  }
  .lasth1{
    color: white; 
    margin-left: 500px; 
    @include fontTop(42px,0px);
    font-weight: bold;
    margin-top: 200px;
  }
  .lasta{
    color:$maincolor;
     margin-left: 480px;
    @include fontTop(42px,0px);
     font-weight: bold;
     text-decoration: none; 
  }
  @media screen and (max-width: 800px) {
    .topnav a {display: none;}
    input {display: none;}

    #search{
        float:left;
        color: black;
        font-size:30px;
    }
    #hid{
        float:left;
    display: block;
   font-size: 32px;
    
    }
    
    #logo{
        float:right;
    }
  }
  @media screen and (max-width: 1300px) {
      .i{
          display: none;
      }
  }
  @media screen and (max-width: 1060px) {
    .aa{
        font-size: 12px;
    }
    
}


@media screen and (max-width: 910px) {
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
  .div1{
    display: none;
  }
  .x{display: block;}
  .mar{
    margin-top: 340px;
  }
  .bt{
    background: none !important;
  }
}

@media screen and (max-width: 910px) {
  .col-ss-1 {width: 8.33%;}
  .col-ss-2 {width: 16.66%;}
  .col-ss-3 {width: 25%;}
  .col-ss-4 {width: 33.33%;}
  .col-ss-5 {width: 41.66%;}
  .col-ss-6 {width: 50%;}
  .col-ss-7 {width: 58.33%;}
  .col-ss-8 {width: 66.66%;}
  .col-ss-9 {width: 75%;}
  .col-ss-10 {width: 83.33%;}
  .col-ss-11 {width: 91.66%;}
  .col-ss-12 {width: 100%;}
  .v{
    height: 270px;
  }
  .pp{
    margin-top: 30px;
    text-align: center;
  }
  .vv{
    height: 270px;
    width: 171.5%;
  }
  .vvv{
    height: 300px;
    margin-top: 205px;

  }
  .lasta{
    margin-left: 35% ;
    @include fontTop(32px,0px);
  }
  .lasth1{
    margin-left: 37%;
    margin-top: 100px;
    @include fontTop(32px,0px);
  }
  
}

@media screen and (max-width: 950px) {
  .col-sss-1 {width: 8.33%;}
  .col-sss-2 {width: 16.66%;}
  .col-sss-3 {width: 25%;}
  .col-sss-4 {width: 33.33%;}
  .col-sss-5 {width: 41.66%;margin-top: 40px;}
  .col-sss-6 {width: 50%;}
  .col-sss-7 {width: 58.33%;}
  .col-sss-8 {width: 66.66%;}
  .col-sss-9 {width: 75%;}
  .col-sss-10 {width: 83.33%;}
  .col-sss-11 {width: 91.66%;}
  .col-sss-12 {width: 100%;}
}
